* {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
}

h1 {
  margin: 0;
  font-size: 16px;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

#canvas-container {
  display: inline-block;
  position: relative;
}

#canvas-overlay {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

#bar-container {
  background-color: white;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px black solid;
  display: flex;
}

#attacks-container {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#attack-type-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  border-left: 4px black solid;
}

#draggle-health-bar-container {
  background-color: white;
  width: 250px;
  position: absolute;
  top: 50px;
  left: 50px;
  border: 4px black solid;
  padding: 12px;
}

#emby-health-bar-container {
  background-color: white;
  width: 250px;
  position: absolute;
  top: 330px;
  right: 50px;
  border: 4px black solid;
  padding: 12px;
}

#health-bar-text {
  font-size: 16px;
}

#health-bar {
  position: relative;
}

#health-bar-grey {
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.health-bar-green {
  height: 5px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#dialogue-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 12px;
  display: none;
  cursor: pointer;
}
